@import "../../../variables.scss";

.checkboxWrapper {
    display: flex;
    align-items: center;
    margin-right: 2rem;

    & > input {
        margin-right: 0.5rem;
        width: 1.25rem;
        height: 1.25rem;
        outline: none;
    }

    & > label {
        padding: 0.5rem 0rem
    }
}