@import "../../variables.scss";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2rem 1.5rem 4rem 1.5rem;
  border-radius: $primaryBorderRadius;
  gap: 1.5rem;
  border: 1px solid #dccdcd;
  box-shadow: 2px 1px 15px rgba(0, 0, 0, 0.3);
  width: 100%;

  & .cardInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    & h3 {
      font-size: $secondaryTitleTextSize;
    }

    & p {
      letter-spacing: 1px;
      margin-bottom: 1rem;
      text-align: center;
      line-height: 1.5rem;
      height: 100px;
    }

    & a {
      padding: 1rem 2rem;
      border: 2px solid $lightBlueColor;
      border-radius: 15px;
      color: $blueColor;
      transition: all 0.2s linear;

      &:hover,
      &:focus {
        background-color: $lightGrey;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .card {
    width: 100%;
    flex-direction: row;
    padding: 1rem 1.5rem;

    & .cardInfo {
      gap: 0;
      align-items: flex-start;

      & p {
        text-align: left;
        height: auto;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .card {
    padding: 1.5rem 1rem 2rem 1rem;

    & h3 {
      align-self: center;
    }

    & a {
      align-self: center;
    }

    & > img {
      display: none;
    }
  }
}
