@import "./variables.scss";
@import-normalize;

body,
html {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: "Oswald", "Source Serif 4", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(247, 249, 247);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #eee;
  box-shadow: inset 2px 1px 4px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: $lightBlueColor;
  box-shadow: inset 1px -1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#root > div {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

main {
  flex: 1 1 auto;
}
