$blueColor: rgb(125, 125, 250);
$redColor: rgb(235, 10, 10);
$lightBlueColor: rgb(199, 234, 246);
$inputColor: rgba(247, 253, 253, 0.95);
$primaryButtonColor: rgb(124, 101, 254);
$lightGrey: rgb(208, 230, 231);

$primaryBorderRadius: 0.25rem;

$titleTextSize: 3.5rem;
$secondaryTitleTextSize: 1.5rem;
$regularTextSize: 1rem;
$smallTextSize: 0.75rem;
