$blueColor: rgb(125, 125, 250);
$redColor: rgb(235, 10, 10);
$lightBlueColor: rgb(199, 234, 246);
$inputColor: rgba(247, 253, 253, 0.95);
$primaryButtonColor: rgb(124, 101, 254);
$secondaryButtonColor: rgb(254, 172, 91);
$lightGrey: rgb(208, 230, 231);
$checkboxActive: rgb(105, 207, 251);

$primaryBorderRadius: 0.25rem;

$titleTextSize: 3rem;
$secondaryTitleTextSize: 1.25rem;
$regularTextSize: 1rem;
$smallTextSize: 0.75rem;
