@import "../../variables.scss";

.navMenu {
  display: none;
  padding: 20px 0px;
  position: relative;

  & > .closeBtn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: rgba($color: #edf3f4, $alpha: 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s linear;

    &:hover,
    &:focus {
      transform: scale(1.15);
      background-color: rgba($color: #edf3f4, $alpha: 1);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    }
  }

  & > img {
    margin: 0 auto;
  }

  & .username {
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem 0;
    text-transform: capitalize;
  }
}

@media screen and (max-width: 768px) {
  .navMenu {
    display: block;
    position: absolute;
    width: 300px;
    height: fit-content;
    background-color: $lightBlueColor;
    top: 70px;
    right: 0rem;
    border-radius: $primaryBorderRadius;
    padding-top: 3.5rem;
    opacity: 0;
    transform: translateX(120%);
    visibility: hidden;
    transition: all 0.25s linear;
    z-index: 20;

    & > .navMenu__list {
      & > li {
        border-bottom: 1px solid $lightGrey;
        text-transform: uppercase;
        font-size: $secondaryTitleTextSize;
        transition: all 0.15s linear;
        cursor: pointer;

        &:hover,
        &:focus {
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
          background-color: $lightGrey;
        }
      }

      & > li a {
        color: #000;
        display: block;
        width: 100%;
        padding: 1.25rem;
      }
    }
  }

  .navMenu.active {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    box-shadow: 0px 2px 6px rgba(24, 24, 24, 0.75),
      1px 2px 6px rgba(0, 0, 0, 0.3);
  }
}
