@import "../../variables.scss";

section {
  padding: 5rem 0rem;
  background-color: #fff;

  & .sectionContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  & .banner {
    width: 350px;
    min-width: 320px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(https://www.zillowstatic.com/s3/web-platform/sub-apps/hops-homepage/hops-homepage.prod.master.6391185.2f1e5238/web/a03d28d86d858234534306b63a6de3b2.jpg);
  }

  &:nth-of-type(2) {
    background-color: inherit;

    & .sectionContent {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      & h2 {
        font-size: $secondaryTitleTextSize;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  section:nth-of-type(2) .sectionContent {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: none;
  }
}

@media screen and (max-width: 768px) {
  section:nth-of-type(1) {
    display: none;
  }
}
