@import "../../../variables.scss";

.filterWindow {
  min-width: 280px;
  max-height: 450px;

  & .header {
    background-color: $lightGrey;
    padding: 1rem;

    & p::first-letter {
      text-transform: capitalize;
    }

    & + div {
      padding: 1rem;
    }
  }

  & .btnContainer {
    display: flex;
    padding: 1rem;

    & button {
      background-color: $primaryButtonColor;
      color: #fff;
      border: none;
      outline: none;
      font-size: $regularTextSize;
      border-radius: $primaryBorderRadius;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      cursor: pointer;
      transition: all 0.2s linear;

      &:hover {
        background-color: transparent;
        color: $blueColor;
        outline: 1px solid #a3baba;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .filterWindow {
    min-height: 0;

    & .header {
      padding-left: 1.5rem;
      padding-right: 0.5rem;

      & + div {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }

    & .btnContainer {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
}
