@import "../../variables.scss";

.listingListWrapper {
  padding: 3rem 0 4rem 0rem;
}

.listingList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.filterIconWrapper {
  display: none;
}

@media screen and (max-width: 768px) {
  .listingListWrapper {
    padding-top: 4.5rem;
  }

  .listingList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: space-between;
  }

  .filterIconWrapper {
    position: absolute;
    top: 0.5rem;
    left: 0.55rem;
    border-radius: 50%;
    width: 3.25rem;
    height: 3.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    cursor: pointer;
    transition: all 0.15s linear;

    &:hover {
      background-color: $lightGrey;
    }

    & > .filterIcon {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 620px) {
  .listingList {
    gap: 2rem;
  }
}
