$blueColor: rgb(125, 125, 250);
$redColor: rgb(235, 10, 10);
$lightBlueColor: rgb(199, 234, 246);
$inputColor: rgba(247, 253, 253, 0.95);
$primaryButtonColor: rgb(124, 101, 254);
$lightGrey: rgb(208, 230, 231);

$primaryBorderRadius: 0.25rem;

$titleTextSize: 2.5rem;
$secondaryTitleTextSize: 1.5rem;
$regularTextSize: 1rem;
$smallTextSize: 0.75rem;


// PLACEHOLDERS
%button {
  // flex-grow: 1;
  // padding: 10px;
  // outline: none;
  // border: none;
  // font-weight: 400;
  // font-family: "Oswald";
  // font-size: $regularTextSize;
  // text-transform: uppercase;
  // border-radius: $primaryBorderRadius;
  // color: $lightBlueColor;
  // cursor: pointer;
  // transition: all 0.15s linear;
}

%input {
    // height: 40px;
    // // width: 400px;
    // // padding: 0.25rem 3rem 0.25rem 1rem;
    // padding-top: 0.25rem;
    // padding-bottom: 0.25rem;
    // padding-left: 1rem;
    // // padding-right: 3rem;
    // border-radius: $primaryBorderRadius;
    // outline: none;
    // border: 1px solid $lightGrey;
    // color: #000;
    // font-size: 1rem;
    // font-family: "Source Serif 4";

    // &::placeholder {
    //   opacity: 0.35;
    // }

    // &:focus {
    //   outline: 1px solid $blueColor;
    // }
  }
